html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.block {
  padding: 2%;
  min-height: fit-content;
  width: 50%;
  background: grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 160px;
  height: 60px;
  background: #1a1e32;
  margin: 10px;
}